<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6 mx-9">

    <div class="flex justify-between mb-6">
        <h1 class="text-2xl font-bold">Products</h1>
        <a href="#" class="bg-gradient-to-r from-cyan-500 to-purple-600 text-white px-4 py-2 rounded-xl">Add Product</a>
    </div>
    
    <table class="w-full bg-white rounded shadow">
        <thead>
            <tr class="border-b text-stone-500">
                <th class="p-2">Image</th>
                <th class="p-2">Name</th>
                <th class="p-2">Price</th>
                <th class="p-2">Qty</th>
                <th class="p-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr class="border-b text-center">
                <td class="p-2">
                    {% if p.image %}
                        <img src="{{ p.image.url }}" class="h-12 mx-auto">
                    {% endif %}
                </td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.quantity }}</td>
                <td>
                    <a href="#" class="text-blue-500">Edit</a> |
                    <a href="#" class="text-red-500">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="p-4 text-center">No products</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>