<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6 mx-9">

    <div class="flex justify-between mb-6">
        <h1 class="text-2xl font-bold">Products</h1>
        <a onclick="openModal()" class="bg-gradient-to-r from-cyan-500 to-purple-600 text-white px-4 py-2 rounded-xl cursor-pointer">Add Product</a>
    </div>
    
    <table class="w-full bg-white rounded shadow">
        <thead>
            <tr class="border-b text-stone-500">
                <th class="p-2">Image</th>
                <th class="p-2">Name</th>
                <th class="p-2">Price</th>
                <th class="p-2">Qty</th>
                <th class="p-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr class="border-b text-center">
                <td class="p-2">
                    {% if p.image %}
                        <img src="{{ p.image.url }}" class="h-12 mx-auto">
                    {% endif %}
                </td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.quantity }}</td>
                <td>
                    <a onclick="openEditModal({{ p.id }}, '{{ p.name }}', {{ p.price }}, {{ p.quantity }}, '{{ p.supplier.id }}','{% if p.image %}{{ p.image.url }}{% endif %}')" class="text-blue-500 cursor-pointer">Edit</a> |
                    <a href="#" class="text-red-500">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="p-4 text-center">No products</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
<!-- Modal -->
<div id="productModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center">
    <div class="bg-white p-6 rounded-xl w-full max-w-md">
        <h2 class="text-xl font-bold mb-4">Add Product</h2>

        <form method="POST" enctype="multipart/form-data" action="{% url 'product_add' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Product Name"
                class="w-full mb-3 p-2 border rounded" required>

            <input type="number" name="price" placeholder="Price"
                class="w-full mb-3 p-2 border rounded" required>

            <input type="number" name="quantity" placeholder="Quantity"
                class="w-full mb-3 p-2 border rounded" required>

            <select name="supplier" class="w-full mb-3 p-2 border rounded">
                {% for s in suppliers %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>

            <input type="file" name="image" class="w-full mb-3">

            <div class="flex justify-between">
                <button type="button" onclick="closeModal()" 
                    class="px-4 py-2 bg-gray-300 rounded">
                    Cancel
                </button>

                <button type="submit" 
                    class="px-4 py-2 bg-green-500 text-white rounded">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Edit Modal -->
<div id="editModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center">
    <div class="bg-white p-6 rounded-xl w-full max-w-md">
        <h2 class="text-xl font-bold mb-4">Edit Product</h2>

        <form id="editForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="text" id="edit_name" name="name" class="w-full mb-3 p-2 border rounded">

            <input type="number" id="edit_price" name="price" class="w-full mb-3 p-2 border rounded">

            <input type="number" id="edit_quantity" name="quantity" class="w-full mb-3 p-2 border rounded">

            <select id="edit_supplier" name="supplier" class="w-full mb-3 p-2 border rounded">
                {% for s in suppliers %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>

            <div class="mb-2">
                <img id="edit_image_preview" class="h-16 mb-2">
            </div>

            <input type="file" name="image" class="w-full mb-3">

            <div class="flex justify-between">
                <button type="button" onclick="closeEditModal()" 
                    class="px-4 py-2 bg-gray-300 rounded">
                    Cancel
                </button>

                <button type="submit" 
                    class="px-4 py-2 bg-green-500 text-white rounded">
                    Update
                </button>
            </div>
        </form>
    </div>

</div>

</body>

<script id="p1k3qv">
    function openModal() {
        document.getElementById('productModal').classList.remove('hidden');
    }
    
    function closeModal() {
        document.getElementById('productModal').classList.add('hidden');
    }
</script>
<script id="g7x2t9">
    function openEditModal(id, name, price, quantity, supplier_id, image_url) {
        document.getElementById('editModal').classList.remove('hidden');
    
        document.getElementById('edit_name').value = name;
        document.getElementById('edit_price').value = price;
        document.getElementById('edit_quantity').value = quantity;
        document.getElementById('edit_supplier').value = supplier_id;
    
        document.getElementById('editForm').action = `/products/edit/${id}/`;
    
        const img = document.getElementById('edit_image_preview');
    
        if (image_url) {
            img.src = image_url;
            img.style.display = "block";
        } else {
            img.style.display = "none";
        }
    }
    
    function closeEditModal(){
        document.getElementById('editModal').classList.add('hidden');
    }
    </script>
</html>